<template>
	<v-layout column>
		<v-layout align-center justify-center>
			<v-flex xs4>
				<v-select v-model="selectedWeeks" :items="weeks" label="Weeks" v-on:change="loadRoster" :loading="loadingweeks" multiple chips box></v-select>
			</v-flex>
		</v-layout>
		<v-flex xs12 class="elevation-1">
			<v-toolbar flat class="tabletoolbar">
				<v-toolbar-title>Rosters</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details />
			</v-toolbar>
			<v-data-table :headers="headers" :items="employees" :search="search" :loading="loading" item-key="id" expand>
				<v-progress-linear slot="progress" color="primary" indeterminate />
				<template slot="items" slot-scope="props">
					<td>{{ props.item.id }}</td>
					<td>{{ props.item.name }}</td>
					<td>{{ props.item.contractHours }}</td>
					<td>{{ props.item.appointedHours }}</td>
					<td>{{ props.item.absenceHours }}</td>
					<td>{{ props.item.lowRateUHours }}</td>
					<td>{{ props.item.highRateUHours }}</td>
					<td>{{ props.item.overtimeHours }}</td>
					<td>{{ props.item.negHours }}</td>
					<td>{{ props.item.coHours }}</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script src="./fetchroster.ts"></script>
