<template>
	<v-container grid-list-md text-xs-center>
		<p class="title">{{ after.day }} - {{ after.date }} - {{ after.site }}</p>
		<v-layout row wrap>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.time" label="Clinic Time" disabled />
			</v-flex>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.type" label="Type" disabled />
			</v-flex>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.chairs" label="Chairs" disabled />
			</v-flex>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.lod" label="LOD" :rules="[rules.required, rules.decimal]" />
			</v-flex>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.occ" label="OCC" :rules="[rules.required, rules.number]" />
			</v-flex>
			<v-flex lg2 sm4 xs6>
				<v-text-field box v-model="after.estimate" label="Estimate" :rules="[rules.required, rules.number]" />
			</v-flex>
		</v-layout>
		<v-layout justify-center>
			<v-flex md6 sm8 xs12>
				<v-text-field box v-model="after.note" label="Session Note"></v-text-field>
			</v-flex>
		</v-layout>
		<div v-if="loading">
			<v-progress-circular indeterminate />
		</div>
		<div v-else>
			<v-form ref="form" lazy-validation v-if="!holiday">
				<p class="title">Roster - {{ after.template }}</p>
				<v-layout justify-center>
					<v-flex md6 sm8 xs12>
						<v-select box v-model="team" :items="teams" label="Team" item-text="name" return-object v-on:input="populateTeam" />
					</v-flex>
				</v-layout>
				<transition-group name="fade" mode="out-in">
					<v-layout justify-center row wrap v-for="(employee, i) in after.employees" :key="`employee-${i}`">
						<v-flex md3 sm6 xs12>
							<v-select box v-model="employee.employeeRole" :items="roles" label="Role" />
						</v-flex>
						<v-flex md3 sm6 xs12>
							<v-autocomplete box v-model="employee.employeeId" :items="employees" label="Employee"
											item-value="id" :filter="customFilter">
								<template slot="selection" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }} - {{ data.item.skill }}
								</template>
								<template slot="item" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }}  - {{ data.item.skill }}
								</template>
							</v-autocomplete>
						</v-flex>
						<v-flex md2 sm4 xs12>
							<v-text-field box v-model="employee.employeeLOD" label="LOD" :rules="[rules.decimal]" maxlength="5" />
						</v-flex>
						<v-flex md2 sm4 xs12>
							<v-text-field box v-model="employee.employeeUNS" label="Unsocial" :rules="[rules.decimal]" maxlength="5" />
						</v-flex>
						<v-flex md2 sm4 xs12>
							<v-text-field box v-model="employee.employeeOT" label="OT" :rules="[rules.decimal]" maxlength="5" />
						</v-flex>
						<v-flex>
							<v-divider class="pb-4" />
						</v-flex>
					</v-layout>
				</transition-group>
				<v-btn flat icon color="accent" v-on:click="addEmployee" class="mb-4">
					<v-icon>add</v-icon>
				</v-btn>
				<v-btn flat icon color="accent" v-on:click="removeEmployee" class="mb-4">
					<v-icon>remove</v-icon>
				</v-btn>
			</v-form>
			<v-form ref="form" lazy-validation v-if="holiday">
				<p class="display-1">Roster - {{ after.template }}</p>
				<v-layout justify-center>
					<v-flex md6 sm8 xs10>
						<v-select box v-model="team" :items="teams" label="Team" item-text="name" return-object v-on:input="populateTeam" />
					</v-flex>
				</v-layout>
				<transition-group name="fade" mode="out-in">
					<v-layout justify-center row wrap v-for="(employee, i) in after.employees" :key="`employee-${i}`">
						<v-flex md3 sm6 xs12>
							<v-select box v-model="employee.employeeRole" :items="roles" label="Role" />
						</v-flex>
						<v-flex md3 sm6 xs12>
							<v-autocomplete box v-model="employee.employeeId" :items="employees" label="Employee"
											item-value="id" :filter="customFilter">
								<template slot="selection" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }} - {{ data.item.skill }}
								</template>
								<template slot="item" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }} - {{ data.item.skill }}
								</template>
							</v-autocomplete>
						</v-flex>
						<v-flex md3 sm6 xs12>
							<v-text-field box v-model="employee.employeeLOD" label="LOD" :rules="[rules.decimal]" maxlength="5" />
						</v-flex>
						<v-flex md3 sm6 xs12>
							<v-text-field box v-model="employee.employeeOT" label="OT" :rules="[rules.decimal]" maxlength="5" />
						</v-flex>
					</v-layout>
				</transition-group>
				<v-btn flat icon color="accent" v-on:click="addEmployee" class="mb-4">
					<v-icon>add</v-icon>
				</v-btn>
				<v-btn flat icon color="accent" v-on:click="removeEmployee" class="mb-4">
					<v-icon>remove</v-icon>
				</v-btn>
			</v-form>
			<v-layout justify-center>
				<v-btn color="accent" v-on:click="rosterSession">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
			</v-layout>
			<v-snackbar v-model="failed" color="error">
				{{ errorMessage }}
				<v-btn dark flat @click="failed = false">Close</v-btn>
			</v-snackbar>
		</div>
	</v-container>
</template>

<script src="./rostersession.ts"></script>