<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md6 sm8 xs12>
			<v-form ref="form" lazy-validation v-if="!loading">
				<p class="title">Create Absence</p>
				<v-autocomplete box v-model="absence.employeeId" :items="employees" label="Employee"
								item-value="id" :filter="customFilter">
					<template slot="selection" slot-scope="data">
						{{ data.item.id }} - {{ data.item.name }}
					</template>
					<template slot="item" slot-scope="data">
						{{ data.item.id }} - {{ data.item.name }}
					</template>
				</v-autocomplete>
				<v-select v-model="absence.type" :items="absencetypes" label="Type" :rules="[rules.required]" item-value="name" box>
					<template slot="selection" slot-scope="data">
						<span :style="{'color': data.item.colour}">{{ data.item.name }} </span>
					</template>
					<template slot="item" slot-scope="data">
						<span :style="{'color': data.item.colour}">{{ data.item.name }} </span>
					</template>
				</v-select>
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="startDateFormatted" label="Start date" append-icon="event" :rules="[rules.required]" readonly box />
					<v-date-picker v-model="absence.startDate" v-on:change="formatStartDate" first-day-of-week="1" />
				</v-menu>
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="endDateFormatted" label="End date" append-icon="event" :rules="[rules.required]" readonly box />
					<v-date-picker v-model="absence.endDate" v-on:change="formatEndDate" first-day-of-week="1" />
				</v-menu>
				<v-select v-model="absence.partDay" :items="partDays" label="Part day" :rules="[rules.required]" box />
				<v-text-field v-model="absence.hours" label="Hours" :rules="[rules.required, rules.decimal]" maxlength="5" box />
				<v-btn color="accent" v-on:click="createAbsence">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">{{ errormessage }}<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./createabsence.ts"></script>