<template>
	<v-layout justify-center text-xs-center>
		<v-flex xs4>
			<v-form ref="form" lazy-validation>
				<h3>Create Absence</h3>
				<v-text-field v-model="absence.staffId" label="Staff Id" :rules="[rules.number]" append-icon="search" @click:append="search" maxlength="8" :disabled="iddisable" required box/>
				<v-text-field v-model="absence.staffName" label="Staff Name" :loading="loading" disabled required box/>
				<v-select v-model="absence.type" :items="types" label="Type" requried box/>
				<v-menu lazy transition="scale-transition" full-width min-width="290px" >
					<v-text-field slot="activator" v-model="absence.startDate" label="Start date" append-icon="event" readonly required box/>
					<v-date-picker v-model="absence.startDate" />
				</v-menu>
				<v-menu lazy transition="scale-transition" full-width min-width="290px" >
					<v-text-field slot="activator" v-model="absence.endDate" label="End date" append-icon="event" readonly required box/>
					<v-date-picker v-model="absence.endDate" />
				</v-menu>
				<v-text-field v-model="absence.hours" label="Hours" :rules="[rules.decimal]" maxlength="5" required box/>
				<v-btn color="secondary" v-on:click="createAbsence">Submit</v-btn>
				<v-btn color="secondary" v-on:click="clear">Clear</v-btn>
				<v-btn color="secondary" v-on:click="cancel">Cancel</v-btn>
				<v-alert :value="failed" type="error">Failed to create absence!</v-alert>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script src="./createabsence.ts"></script>
