<template>
	<v-layout column>
		<v-flex xs12 class="text-xs-center">
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="date" label="Date" append-icon="event" readonly box />
				<v-date-picker v-model="date" v-on:change="loadAbsences(date)" />
			</v-menu>
		</v-flex>
		<v-flex xs12 class="elevation-1">
			<v-toolbar flat color="white">
				<v-toolbar-title>Absences</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details />
				<v-spacer></v-spacer>
				<v-btn flat color="accent" v-on:click.native="createAbsence">Create</v-btn>
			</v-toolbar>
			<v-data-table :headers="headers" :items="absences" :search="search" :loading="loading" item-key="id" expand>
				<v-progress-linear slot="progress" color="primary" indeterminate />
				<template slot="items" slot-scope="props">
					<tr @click="props.expanded = !props.expanded">
						<td>{{ props.item.staffId }}</td>
						<td>{{ props.item.staffName }}</td>
						<td>{{ props.item.type }}</td>
						<td>{{ props.item.startDate }}</td>
						<td>{{ props.item.endDate }}</td>
						<td>{{ props.item.hours }}</td>
					</tr>
				</template>
				<template slot="expand" slot-scope="props">
					<v-card flat="flat" color="grey lighten-4">
						<v-layout justify-center>
							<v-btn color="accent" flat v-on:click.native="editAbsence(props.item.id)">Edit</v-btn>
							<v-btn color="accent" flat v-on:click.native="deleteAbsence(props.item.id)">Delete</v-btn>
						</v-layout>
					</v-card>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script src="./fetchabsence.ts"></script>
