<template>
	<v-layout justify-center text-xs-center>
		<v-flex xs4>
			<v-form ref="form" lazy-validation>
				<h3>Create Site</h3>
				<v-text-field v-model="site.name" label="Name" :rules="[rules.required]" required />
				<v-select v-model="site.type" :items="types" label="Type" :rules="[rules.required]" requried />
				<v-text-field v-model="site.times" label="Times" :rules="[rules.required]" required />
				<v-btn color="accent" v-on:click="createSite">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-alert :value="failed" type="error">Failed to create site!</v-alert>
			</v-form>
		</v-flex>
	</v-layout>
</template>

<script src="./createsite.ts"></script>
