<template>
	<v-layout justify-center text-xs-center>
		<v-flex xs4>
			<v-form ref="form" lazy-validation v-if="!loading">
				<h3>Edit Skill</h3>
				<v-select v-model="skill.role" :items="roles" label="Role" :rules="[rules.required]" box/>
				<v-text-field v-model="skill.name" label="Name" :rules="[rules.required]" box/>
				<v-btn color="secondary" v-on:click="editSkill">Submit</v-btn>
				<v-btn color="secondary" v-on:click="cancel">Cancel</v-btn>
				<v-alert :value="failed" type="error">Failed to update skill!</v-alert>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./editskill.ts"></script>
