<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 sm6 xs8>
			<v-form ref="form" lazy-validation v-if="!loading">
				<h3>Edit Special Date</h3>
				<v-text-field v-model="specialdate.name" label="Name" :rules="[rules.required]" disabled box/>
				<v-menu lazy transition="scale-transition" full-width min-width="290px">
					<v-text-field slot="activator" v-model="dateFormatted" label="Date" append-icon="event" :rules="[rules.required]" readonly box></v-text-field>
					<v-date-picker v-model="specialdate.date" v-on:change="formatDate" first-day-of-week="1"></v-date-picker>
				</v-menu>
				<v-btn color="secondary" v-on:click="editSpecialDate">Submit</v-btn>
				<v-btn color="secondary" v-on:click="cancel">Cancel</v-btn>
				<v-alert :value="failed" type="error">Failed to create site!</v-alert>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./editspecialdate.ts"></script>
