.router-link-exact-active {
	background: gray;
}

.navigation-drawer > .list .router-link-exact-active.list__tile--active > :first-child .icon {
	color: #fff
}

.navigation-drawer > .list .router-link-exact-active.list__tile--active .list__tile__title {
	color: #fff;
}

@media (max-width: 767px) {
	/* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
	body {
        padding-top: 50px;
    }

	.table{
		overflow: auto;
	}

	.largetable{
		height: 300px;
	}
}

/* do print stlye here */
@media print {
	body {
	}

	.col-sm-9 {
		width: 100%;
	}

	.btn {
		display: none;
	}
} 
