<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md6 sm8 xs12>
			<v-form ref="form" lazy-validation v-if="!loading">
				<p class="title">Create Team</p>
				<v-text-field v-model="team.name" label="Name" :rules="[rules.required]" box />
				<transition-group name="fade" mode="out-in">
					<v-layout justify-space-between row wrap v-for="(member, i) in members" :key="`employee-${i}`">
						<v-flex sm5 xs12>
							<v-select box v-model="member.employeeRole" :items="roles" label="Role" />
						</v-flex>
						<v-flex sm5 xs12>
							<v-autocomplete box v-model="member.employeeId" :items="employees" label="Member"
											item-value="id" :filter="customFilter">
								<template slot="selection" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }}
								</template>
								<template slot="item" slot-scope="data">
									{{ data.item.id }} - {{ data.item.name }}
								</template>
							</v-autocomplete>
						</v-flex>
					</v-layout>
				</transition-group>
				<div>
					<v-btn flat icon color="accent" v-on:click="addMember" class="mb-4"><v-icon dark>add</v-icon></v-btn>
					<v-btn flat icon color="accent" v-on:click="removeMember" class="mb-4"><v-icon>remove</v-icon></v-btn>
				</div>
				<v-btn color="accent" v-on:click="createTeam">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">{{ errorMessage }}<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./createteam.ts"></script>