<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md5 sm6 xs8>
			<v-form ref="form" lazy-validation v-if="!loading">
				<h3>Create Team</h3>
				<div>
					<v-text-field v-model="team.name" label="Name" :rules="[rules.required]" box />
					<div v-for="sv in teamsvs" :key="sv.employeeId">
						<v-select box v-model="sv.employeeId" :items="svs" label="Supervisor" item-text="name" item-value="id" :rules="[rules.required]" />
					</div>
					<v-btn flat icon color="accent" v-on:click="addSV" class="mb-4"><v-icon dark>add</v-icon></v-btn>
					<v-btn flat icon color="accent" v-on:click="removeSV" class="mb-4"><v-icon>remove</v-icon></v-btn>
					<div v-for="dri in teamdris" :key="dri.employeeId">
						<v-select box v-model="dri.employeeId" :items="dris" label="Driver" item-text="name" item-value="id" :rules="[rules.required]" />
					</div>
					<v-btn flat icon color="accent" v-on:click="addDRI" class="mb-4"><v-icon dark>add</v-icon></v-btn>
					<v-btn flat icon color="accent" v-on:click="removeDRI" class="mb-4"><v-icon>remove</v-icon></v-btn>
					<div v-for="cca in teamccas" :key="cca.employeeId">
						<v-select box v-model="cca.employeeId" :items="ccas" label="CCA" item-text="name" item-value="id" :rules="[rules.required]" />
					</div>
					<v-btn flat icon color="accent" v-on:click="addCCA" class="mb-4"><v-icon dark>add</v-icon></v-btn>
					<v-btn flat icon color="accent" v-on:click="removeCCA" class="mb-4"><v-icon>remove</v-icon></v-btn>
					<div v-for="rn in teamrns" :key="rn.employeeId">
						<v-select box v-model="rn.employeeId" :items="rns" label="RN" item-text="name" item-value="id" :rules="[rules.required]" />
					</div>
					<v-btn flat icon color="accent" v-on:click="addRN" class="mb-4"><v-icon dark>add</v-icon></v-btn>
					<v-btn flat icon color="accent" v-on:click="removeRN" class="mb-4"><v-icon>remove</v-icon></v-btn>
				</div>
				<v-btn color="accent" v-on:click="createTeam">Submit</v-btn>
				<v-btn color="accent" v-on:click="clear">Clear</v-btn>
				<v-btn color="accent" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="error">{{ errorMessage }}<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./createteam.ts"></script>