<template>
	<v-layout row wrap justify-center v-if="$vuetify.breakpoint.smAndUp">
		<v-flex class="text-xs-center" xs11>
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="startDateFormatted" label="Start date" append-icon="event" readonly box />
				<v-date-picker v-model="startdate" v-on:change="loadSessions" first-day-of-week="1" />
			</v-menu>
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="endDateFormatted" label="End date" append-icon="event" readonly box />
				<v-date-picker v-model="enddate" v-on:change="loadSessions" first-day-of-week="1" />
			</v-menu>
		</v-flex>
		<v-flex xs11>
			<v-card>
				<v-toolbar flat class="tabletoolbar">
					<v-flex>
						<v-toolbar-title>{{ team.name }}</v-toolbar-title>
					</v-flex>
					<v-flex>
						<v-spacer></v-spacer>
					</v-flex>
					<v-flex>
						<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details />
					</v-flex>
				</v-toolbar>
				<v-data-table :headers="headers" :items="teamsites" :search="search" :loading="loading" item-key="id" expand>
					<v-progress-linear slot="progress" color="primary" indeterminate />
					<template slot="items" slot-scope="props">
						<td>{{ dateFormat(props.item.date) }}</td>
						<td>{{ props.item.day }}</td>
						<td><font v-bind:style="{ color: siteColour(props.item.sV1Site) }">{{ props.item.sV1Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.drI1Site) }">{{ props.item.drI1Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.drI2Site) }">{{ props.item.drI2Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.rN1Site) }">{{ props.item.rN1Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.rN2Site) }">{{ props.item.rN2Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.rN3Site) }">{{ props.item.rN3Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.ccA1Site) }">{{ props.item.ccA1Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.ccA2Site) }">{{ props.item.ccA2Site }}</font></td>
						<td><font v-bind:style="{ color: siteColour(props.item.ccA3Site) }">{{ props.item.ccA3Site }}</font></td>
					</template>
				</v-data-table>
				<v-alert :value="failed" type="error">Please enter valid dates!</v-alert>
			</v-card>
		</v-flex>
	</v-layout>
	<v-layout v-else column>
		<v-flex class="text-xs-center mb-4" xs12>
			<h4>{{ team.name }}</h4>
			<v-divider />
			<v-menu lazy transition="scale-transition" full-width>
				<v-text-field slot="activator" v-model="startDateFormatted" label="Start date" append-icon="event" readonly box />
				<v-date-picker v-model="startdate" v-on:change="loadSessions" first-day-of-week="1" full-width/>
			</v-menu>
			<v-menu lazy transition="scale-transition" full-width>
				<v-text-field slot="activator" v-model="endDateFormatted" label="End date" append-icon="event" readonly box />
				<v-date-picker v-model="enddate" v-on:change="loadSessions" first-day-of-week="1" full-width/>
			</v-menu>
			<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details box/>
		</v-flex>
		<v-data-iterator :items="teamsites" :search="search" :loading="loading" row wrap>
			<v-flex slot="item" slot-scope="props" class="mb-4" xs12>
				<v-card>
					<v-card-title>
						<h4>{{ props.item.date }} - {{ props.item.day }}</h4>
					</v-card-title>
					<v-divider class="ma-0"/>
					<v-list dense>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.sV1Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.sV1Site) }">{{ props.item.sV1Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.drI1Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.drI1Site) }">{{ props.item.drI1Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.drI2Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.drI2Site) }">{{ props.item.drI2Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.rN1Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.rN1Site) }">{{ props.item.rN1Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.rN2Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.rN2Site) }">{{ props.item.rN2Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.rN3Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.rN3Site) }">{{ props.item.rN3Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.ccA1Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.ccA1Site) }">{{ props.item.ccA1Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.ccA2Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.ccA2Site) }">{{ props.item.ccA2Site }}</font></v-list-tile-content>
						</v-list-tile>
						<v-list-tile>
							<v-list-tile-content>{{ props.item.ccA3Name }}:</v-list-tile-content>
							<v-list-tile-content class="align-end"><font v-bind:style="{ color: siteColour(props.item.ccA3Site) }">{{ props.item.ccA3Site }}</font></v-list-tile-content>
						</v-list-tile>
					</v-list>
				</v-card>
			</v-flex>
		</v-data-iterator>
	</v-layout>
</template>

<script src="./viewteam.ts"></script>
