<template>
	<v-layout column>
		<v-flex xs12 class="text-xs-center">
			<h3>View Team</h3>
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="startdate" label="Start date" append-icon="event" readonly box />
				<v-date-picker v-model="startdate" v-on:change="loadSessions" />
			</v-menu>
			<v-menu lazy transition="scale-transition">
				<v-text-field slot="activator" v-model="enddate" label="End date" append-icon="event" readonly box />
				<v-date-picker v-model="enddate" v-on:change="loadSessions" />
			</v-menu>
		</v-flex>
		<v-flex xs12 class="elevation-1">
			<v-toolbar flat>
				<v-toolbar-title>Sessions</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details />
			</v-toolbar>
			<v-data-table :headers="headers" :items="teamsites" :search="search" :loading="loading" item-key="id" expand>
				<v-progress-linear slot="progress" color="primary" indeterminate />
				<template slot="items" slot-scope="props">
						<td>{{ props.item.date }}</td>
						<td>{{ props.item.day }}</td>
						<td>{{ props.item.sV1Site }}</td>
						<td>{{ props.item.drI1Site }}</td>
						<td>{{ props.item.drI2Site }}</td>
						<td>{{ props.item.rN1Site }}</td>
						<td>{{ props.item.rN2Site }}</td>
						<td>{{ props.item.rN3Site }}</td>
						<td>{{ props.item.ccA1Site }}</td>
						<td>{{ props.item.ccA2Site }}</td>
						<td>{{ props.item.ccA3Site }}</td>
					</tr>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script src="./viewteam.ts"></script>
