<template>
	<v-layout justify-center text-xs-center>
		<v-flex xs4>
			<v-form ref="form" lazy-validation v-if="!loading">
				<h3>Edit Employee</h3>
				<v-text-field v-model="employee.id" label="Id" :rules="[rules.required, rules.number]" maxlength="8" disabled />
				<v-text-field v-model="employee.name" label="Name" :rules="[rules.required]" disabled />
				<v-select v-model="employee.role" :items="roles" label="Role" :rules="[rules.required]" requried />
				<v-text-field v-model="employee.skill" label="Skill" :rules="[rules.required]" required />
				<v-text-field v-model="employee.address" label="Address" :rules="[rules.required]" required />
				<v-text-field v-model="employee.number" label="Number" placeholder="01234123456" mask="###########" :rules="[rules.required]" required />
				<v-text-field v-model="employee.contractHours" label="Contract Hours" :rules="[rules.required, rules.decimal]" maxlength="5" required />
				<v-select v-model="workpattern" :items="days" label="Work Pattern" multiple chips></v-select>
				<v-btn v-on:click="editEmployee">Submit</v-btn>
				<v-btn v-on:click="cancel">Cancel</v-btn>
				<v-alert :value="failed" type="error">Failed to edit employee!</v-alert>
			</v-form>
			<v-progress-circular v-else color="primary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./editemployee.ts"></script>
