<template>
	<v-layout justify-center text-xs-center>
		<v-flex lg4 md5 sm6 xs8>
			<v-form ref="form" lazy-validation v-if="!loading">
				<h3>Edit Employee</h3>
				<v-text-field v-model="employee.id" label="Id" :rules="[rules.required, rules.number]" maxlength="8" disabled box/>
				<v-text-field v-model="employee.name" label="Name" :rules="[rules.required]" disabled box/>
				<v-select v-model="employee.role" :items="roles" label="Role" :rules="[rules.required]" disabled box/>
				<v-select v-model="employee.skill" :items="skills" label="Skill" :rules="[rules.required]" box />
				<v-text-field v-model="employee.address" label="Address" :rules="[rules.required]" box/>
				<v-text-field v-model="employee.number" label="Number" placeholder="01234 123456" mask="##### ######" :rules="[rules.required]" box/>
				<v-text-field v-model="employee.contractHours" label="Contract Hours" :rules="[rules.required, rules.decimal]" maxlength="5" box/>
				<v-select v-model="workpattern" :items="days" label="Work Pattern" :rules="[rules.required]" multiple chips box></v-select>
				<v-btn color="secondary" v-on:click="editEmployee">Submit</v-btn>
				<v-btn color="secondary" v-on:click="cancel">Cancel</v-btn>
				<v-snackbar v-model="failed" color="red">Failed to edit employee!<v-btn dark flat @click="failed = false">Close</v-btn></v-snackbar>
			</v-form>
			<v-progress-circular v-else color="secondary" indeterminate />
		</v-flex>
	</v-layout>
</template>

<script src="./editemployee.ts"></script>
